/* ./notes/CreateNoteForm.css */

.create-note-form-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.create-note-form {
  background-color: var(--bg-accent);

  border-radius: 2rem;
  padding: 3rem 2rem;
  width: 25%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.create-note-form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.create-note-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80vw;
  margin: 0 auto;
}

.create-note-form input,
.create-note-form select,
.create-note-form textarea {
  padding: 1rem 0.5rem;
  width: 20rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.create-note-form button {
  width: 30%;
  font-size: 1.1rem;
  padding: 0.8rem 0.5rem;
  margin: 0 auto;
  background-color: var(--accent-1);
  color: var(--text-dark);
  border: none;
  border-radius: 6px;
  width: 20rem;
  transition: transform 0.1s ease-in-out, background-color 0.1s linear,
    color 0.1s linear;
}

.create-note-form button:hover {
  transform: scale(1.05);
  background-color: var(--accent-2);
  color: var(--text-light);
  cursor: pointer;
}
