.note {
  background-color: var(--bg-accent);
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 0.5rem;
}

.title,
.description {
  white-space: normal;
}

.time {
  font-size: small;
  color: var(--text-grey-d);
}
