/* ./pages/notes/Notes.css */

.notes-page {
  padding-top: 8rem;
  width: 80vw;
  margin: 0 auto;
}

.message {
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.notes {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2rem auto 0 auto;
}
