.note {
  background-color: var(--bg-accent);
  padding: 1.5rem;
  max-width: 15rem;
  border-radius: 1rem;
}

.thumbnail {
  background-color: white;
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 0.5rem;
}

.time {
  font-size: small;
  color: var(--text-grey-d);
}
