.note {
  background-color: var(--bg-accent);
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: all 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.note:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--accent-1);
}

.note__thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.note__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.note__title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
}

.note__description {
  margin-bottom: 0.5rem;
}

.note__title,
.note__description {
  white-space: normal;
}

.note__time {
  font-size: small;
  color: var(--text-grey-d);
}
