/* ./pages/notes/Notes.css */

.notes-page {
  padding-top: 8rem;
  width: 80vw;
  margin: 0 auto;
}

.message {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}
