/* ./components/Navbar.css */

.navbar {
  width: 80vw;
  padding: 1rem;

  background-color: var(--bg-accent);

  margin: 1.5rem auto;
  border-radius: 1rem;
  border: 0.125rem solid var(--accent-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 2rem;
}

.links {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.link,
.logo {
  text-decoration: none;
  color: var(--text-dark);
}

.logout-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  font-size: 1rem;
  color: var(--text-dark);

  background-color: transparent;
  transition: transform 0.1s ease-in-out, background-color 0.1s linear,
    color 0.1s linear;
}

.logout-btn:hover {
  background-color: var(--accent-1);
  cursor: pointer;
}
