.auth {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__box {
  width: 100%;
  max-width: 500px;
  padding: 3rem 2rem;

  border-radius: 1.5rem;
  background-color: var(--bg-translucent);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__box__text {
  margin: 1.5rem auto;
  text-align: center;
}

.auth__box__text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.auth__box__text p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.auth__box__text a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-2);
  transition: color 0.1s ease-in-out;
}

.auth__box__text a:hover {
  color: var(--accent-1);
}

.auth__form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth__form input {
  padding: 0.9rem 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid var(--accent-1);
  font-size: 1rem;
}

.auth__form button {
  padding: 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;

  background-color: var(--accent-1);
  color: var(--text-dark);

  transition: all 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.auth__form button:hover {
  transform: scale(1.02);
  background-color: var(--accent-2);
  color: var(--text-light);
  cursor: pointer;
}

.auth__form__declaration {
  color: var(--text-grey-d);
  width: 80%;
  margin: 1rem auto 0;
  font-size: 0.9rem;
  text-align: center;
}
