.auth-page {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 100%;
  max-width: 500px;
  padding: 3rem 2rem;

  border-radius: 1.5rem;
  background-color: var(--bg-accent);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-text {
  margin: 1.5rem auto;
  text-align: center;
}

.auth-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.auth-text p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.auth-text a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-1);
  transition: color 0.2s ease-in-out;
}

.auth-text a:hover {
  color: var(--accent-2);
}

.auth-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form input {
  padding: 0.9rem 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid var(--accent-1);
  font-size: 1rem;
}

.auth-form button {
  padding: 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;

  background-color: var(--accent-1);
  color: var(--text-dark);

  transition: all 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.auth-form button:hover {
  transform: scale(1.02);
  background-color: var(--accent-2);
  color: var(--text-light);
  cursor: pointer;
}

.auth-declaration {
  color: var(--text-grey-d);
  width: 80%;
  margin: 1rem auto 0;
  font-size: 0.9rem;
  text-align: center;
}

.auth-error {
  text-align: center;
  color: red;
  min-height: 1.5em;
  font-size: 0.9rem;
}
