/* ./pages/auth/SignUp.css */

.sign-up-page {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-box {
  width: 20%;
  min-width: 500px;
  padding: 5rem 2rem;

  position: absolute;
  align-content: center;
  transform: 50% 50%;

  border-radius: 2rem;
  background-color: var(--bg-accent);
  box-shadow: 10px 10px 50px white;
}

.text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.text p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.text a {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  margin: 2rem auto 1rem auto;
}

.sign-up-form {
  margin: 0 auto;
  max-width: 80vw;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-up-form input {
  padding: 1rem 0.5rem;
  width: 80%;
  margin: 0 auto;
}

.sign-up-form button {
  width: 30%;
  padding: 0.8rem 0.5rem;
  margin: 0 auto;
  font-size: 1.1rem;

  background-color: var(--accent-1);
  color: var(--text-dark);

  transition: transform 0.1s ease-in-out, background-color 0.1s linear,
    color 0.1s linear;
}

.sign-up-form button:hover {
  transform: scale(1.05);
  background-color: var(--accent-2);
  color: var(--text-light);
  cursor: pointer;
}

.declaration {
  color: var(--text-grey-d);
  width: 70%;
  margin: 0 auto;
}

.error {
  text-align: center;
  color: red;
  min-height: "1.5em";
}
