.sign-up-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.sign-up-box {
  position: absolute;
  transform: 50% 50%;
  width: 20%;
  min-width: 500px;
  align-content: center;
  padding: 5rem 2rem;
  border-radius: 2rem;
  background-color: var(--bg-accent);
  box-shadow: 10px 10px 50px white;
}

h1,
p {
  text-align: center;
}

p {
  font-size: small;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  margin: 0 auto 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: 0 auto;
  gap: 1rem;
}

input {
  padding: 1rem 0.5rem;
  width: 80%;
  margin: 0 auto;
}

button {
  width: 30%;
  font-size: 1.1rem;
  padding: 0.8rem 0.5rem;
  margin: 0 auto;
  background-color: var(--accent-1);
  color: var(--text-dark);
  transition: transform 0.1s ease-in-out, background-color 0.1s linear,
    color 0.1s linear;
}

button:hover {
  transform: scale(1.05);
  background-color: var(--accent-2);
  color: var(--text-light);
  cursor: pointer;
}

.declaration {
  color: var(--text-grey-d);
  width: 70%;
  margin: 0 auto;
}

.error {
  text-align: center;
}
